* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #087EA4;
    --primary-light: #4DA8B8;
    --primary-hover: #075F7D;
    --secondary: #16A092;
    --secondary-light: #DFF3EA;
    --accent: #52C982;
    --accent-hover: #51AA5B;

    
    --bg: #F7FAFB;
    --bg-secondary: #e8f5f3;
    --surface: #FFFFFF;
    --surface-hover: #F1F6F7;

    
    --text: #12313D;
    --text-secondary: #52707A;
    --text-light: #FFFFFF;

    
    --border: #6e7779;
    --border-strong: #4c5557;
    --border-light: #D9E6E9;
    --border-light-strong: #B8CDD2;

    
    --success: #299B60;
    --success-hover: #287C39;
    --warning: #D99A16;
    --danger: #D94B4B;
    --danger-hover: #D82C25;

    --shadow-main: #0000002f;
    
    --info: #087EA4;
    --shadow: rgba(6, 59, 92, 0.12);


    font-size: clamp(12px, 3vw, 16px);

}

html {

    scroll-behavior: smooth;

}

body {
    background-color: var(--bg);
}

.-container {

    width: 100%;
    min-height: 100dvh;

}

nav {

    background-color: #DFF3EA;

}

nav ul {
    background-color: #DFF3EA;
}



#home {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: 24px;
    padding-bottom: 32px;

}

#presentation {
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 32px 12px;

    color: var(--text-light);

    width: 100%;
    background-image: linear-gradient(to right bottom, #075f7d, #006f88, #00808f, #009093, #16a092);

    box-shadow: 0 0 4px 3px var(--shadow-main);
}

#presentation > div {

    display: flex;
    flex-direction: column;

    align-items: center;
    max-width: 720px;
    width: 100%;

    text-align: center;

    gap: 8px;
}

#presentation > div > div {

    display: flex;
    gap: 4px;

    margin-top: 8px;

}

#presentation #slogan {

    font-style: italic;

}

#differentials {

    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 12px;

}


#ordinary-meds {

    background-color: var(--bg-secondary);

}


#catalog-main {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#catalog-main ul {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

}

#catalog-main .-filter-button.active {

    background-color: var(--accent);
    border-color: var(--accent);

    color: var(--text);
    
}

.-catalog-items-wrapper {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    max-width: 1020px;

    padding: 0 12px;

}



.-catalog-card {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--border);
    max-width: 320px;
    width: 100%;
    border-radius: 8px;

    text-align: center;

    gap: 8px;

    overflow: hidden;

}

.-catalog-card-header {
    position: relative;
    height: 180px;
    width: 100%;
    padding: 12px 0;

}

.-catalog-card-header img {


    height: 120px;
    width: 100%;

    object-fit: contain;
    object-position: center;

}

.-catalog-card-header > div {

    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    padding: 0 12px;

}

.-catalog-card-header .-card-category {

    background-color: #0000003f;
    border-radius: 4px;
    padding: 2px 6px;

}


.-catalog-card-body {

    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 12px 16px 12px;

}

.-catalog-card-body h1 {

    color: var(--primary-hover);
    font-size: 1.4rem;
    margin: 0;

}

.-catalog-card-body p {

    color: var(--text-secondary);
    font-size: .9rem;
    margin: 0;
    text-align: left;

}


.-catalog-card-footer {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    border-top: 1px solid var(--border-light);

    padding: 12px 12px 12px 12px;

}

.-catalog-card-footer p {

    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--accent-hover);
    text-shadow: 1px 1px 2px var(--shadow);

}





#history {

    background-color: var(--bg-secondary);

}

#history-images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.-carousel-history {

    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    overflow: hidden;

}

#history-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}

#history-text > div {

    width: 100%;
    max-width: 620px;
    padding: 12px;

}

#history-text h1 {

    font-size: 1.5rem;
    color: var(--primary-hover);
    margin-bottom: 24px;

}

#history-text p {

    font-size: .95rem;
    text-indent: 12px;
    color: var(--text);
    margin-bottom: 8px;
    text-align: justify;

}




#contact {

    padding-left: 24px;
    padding-right: 24px;

}

#contact form {

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4;

}

#contact form label {
    margin-bottom: 6px;
}

#contact form input, #contact form textarea {

    background-color: var(--surface);
    color: var(--text);
    border-radius: 6px;
    border: 1px solid var(--border);
    outline: none;
    padding: 4px 8px;

}

#contact form input:hover, #contact form textarea:hover {

    background-color: var(--surface-hover);

}

#contact form input:focus-within, #contact form textarea:focus-within {

    background-color: var(--surface);
    border-color: transparent;
    box-shadow: 0 0 2px 1px var(--primary-light);

}

#contact form input::placeholder, #contact form textarea::placeholder {

    color: var(--text-secondary);

}

#contact form input {
    margin-bottom: 12px;
}

#contact form textarea {
    min-height: 60px;
    max-height: 92px;
    field-sizing: content;

    margin-bottom: 40px;
}



.-contact-card {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 100%;

    max-width: 500px;
    width: 100%;
    height: 400px;
    border: 1px solid var(--border);
    border-radius: 8px;

    background-color: var(--surface-hover);

}

.-contact-card-med-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.-contact-card-med-infos h1 {

    font-size: 1.5rem;
    margin-bottom: 32px;
    color: var(--primary-hover);

}

.-contact-card-med-infos p {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--text)
}

.-icon-med-info {
    color: var(--primary-hover);
}

.-text-emphasis {

    font-weight: 600;
    color: var(--primary-hover);

}

@media screen and (max-width: 770px) {
    
    .-contact-card {

        max-width: 100%;

    }

}





.-card {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--border);
    max-width: 280px;
    width: 100%;
    min-height: 64px;
    border-radius: 8px;

    text-align: center;
    padding: 24px 12px;

    gap: 8px;

}

.-card h1 {

    color: var(--primary-hover);
    font-size: 1.4rem;
    margin: 0;

}

.-card p {

    color: var(--text-secondary);
    font-size: .9rem;
    margin: 0;

}




.-base-page {

    padding: 32px 12px;

}

.-default-button {

    cursor: pointer;
    border-radius: 6px;
    padding: 4px 12px;

    transition: border .05s ease-in-out, background .05s ease-in-out;

    box-shadow: 0 0 4px 1px var(--shadow-main);

    text-decoration: none;
}

.-primary-button {

    background-color: var(--primary);
    border: 2px solid var(--primary-hover);

    color: var(--text-light);

}

.-primary-button:hover {

    background-color: var(--primary-hover);

}

.-primary-button:active {

    background-color: var(--accent);
    border-color: var(--accent);

    color: var(--text);

}

.-secondary-button {

    background: none;
    border: 2px solid var(--primary-hover);

    color: var(--text);

}

.-secondary-button:hover {
    border-color: var(--secondary);
}

.-secondary-button:active {
    background-color: var(--accent);
    border-color: var(--accent);
    color: var(--text);
}


.-accent-button {
    background-color: var(--accent);
    border: 2px solid var(--accent-hover);

    color: var(--text);
}

.-accent-button:hover {
    background-color: var(--accent-hover);
}

.-accent-button:active {

    background-color: var(--accent);
    border-color: var(--accent);

}

.-success-button {
    background-color: var(--success);
    border: 2px solid var(--success-hover);

    color: var(--text-light);
}

.-success-button:hover {
    background-color: var(--success-hover);
}

.-success-button:active {
    background-color: var(--success);
    border-color: var(--success);
}

.-danger-button {
    background-color: var(--danger);
    border: 2px solid var(--danger-hover);

    color: var(--text-light);
}

.-danger-button:hover {
    background-color: var(--danger-hover);
}

.-danger-button:active {
    background-color: var(--danger);
    border-color: var(--danger);
}


.-page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px 0 40px 0;
}

.-page-title h1 {
    margin: 0;
    text-align: center;
}

.-page-title span {

    width: 92px;
    border-top: 2px solid var(--secondary);

}

.-carousel.active {

    display: flex;
    align-items: center;
    justify-content: center;

}



.-text-light {

    color: var(--text-light);

}


.-purchase-modal.show {

    display: flex !important;
    justify-content: center;
    align-items: center;

}















footer {

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-hover);
    height: 64px;

}

footer p {
    margin: 0;
    text-align: center;
}
